<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="signup-form" enctype="multipart/form-data">
      <input
        type="email"
        name="email"
        placeholder="Username"
        value="user6@gmail.com"
      />
      <input type="text" name="name" placeholder="Username" value="user6" />
      <input
        type="password"
        name="password"
        placeholder="passsword"
        value="1234"
      />
      <input
        type="password"
        name="rPassword"
        placeholder="repeat password"
        value="1234"
      />
      <input type="file" name="avatar" accept="image/*" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
  <script>
    const form = document.getElementById("signup-form");
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      fetch("api/auth/signup", {
        method: "POST",
        body:formData,
      })
        .then((response) => response.text())
        .then((result) => {
          console.log(result);
        })
        .catch((error) => {
          console.error(error);
        });
    });
  </script>
</html>
